
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');


body{ 
    background: rgb(64,58,58);
    background: linear-gradient(90deg, rgba(64,58,58,1) 0%, rgba(224,202,249,1) 38%, rgba(207,207,207,1) 74%);
font-family: 'Lato', sans-serif;
color: black;
font-size: 15px;
width: 100%;
overflow: hidden;

  
    }

   .box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: rgb(220,215,254);
background: radial-gradient(circle, rgba(220,215,254,1) 0%, rgba(199,195,224,1) 38%, rgb(182, 170, 228) 74%);
padding: 15px;
border-radius: 15px;
width: 20%;
font-family:'Lato', sans-serif; 

   }

   .titulo{
    font-family:'Lato', sans-serif; 
text-align: center;
font-weight: bold;
font-size: 20px;
   }
       
   .input-box{
    font-family:'Lato', sans-serif; 
font-weight: bold;
font-style: none;

   }


   fieldset{
    border: 2px solid rgb(245, 245, 245);
    border-radius: 8px;


   }

  legend{
border: 1px solid rgb(231, 221, 221);
padding: 10px;
background-color: rgb(240, 240, 240);
text-align: center;
border-radius: 8px;
  }


   .imagem-forms{
margin-left: 900px;
   }


   .input-box{
       position: relative;


   }

   .inputUser{
       background: white;
       border-radius: 8px;
       border: none;
       border-bottom: 5px;
       border-bottom: 1px solid rgb(241, 241, 241);
color: white;
font-size: 14px;
width: 100%;
transition: 1.5s;
   }

   .buttom{
    background: rgb(244,250,255);
    background: linear-gradient(90deg, rgba(244,250,255,1) 0%, rgba(212,214,217,1) 38%, rgba(219,223,227,1) 74%);   
border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;font-family: 'Lato', sans-serif;
width: 100px;
height: 35px;
border: none;
font-family:'Lato', sans-serif; 
font-weight: bold;
font-style: none;
align-items: center;
margin-left: 60px;
cursor: pointer;
}


.buttom:hover{
background: rgb(97, 94, 94);
transform: scale(1.1);
transition: all 0.5s;
}

